/* Home.css */
.home-container {
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensures clouds don't overflow */
    position: relative; /* Allows positioning of child elements */

  }
  
  
/* Moving clouds style */
.moving-clouds {
position: absolute;
z-index: 1; /* Behind content but over background */
bottom: 0;
left: 0;
width: 250.625em; /* Based on the original dimensions */
height: 43.75em; /* Based on the original dimensions */
animation: cloudLoop 80s linear infinite;
}

/* Cloud animation keyframes */
@keyframes cloudLoop {
0% {
    transform: translateZ(0);
}
100% {
    transform: translate3d(-50%, 0, 0);
}
}

