/* Header Styles */
.header-container {
    position: fixed;   /* Fixed position ensures it stays in place */
    top: 0;            /* Aligns the header at the top */
    right: 0;          /* Aligns the header to the right */
    z-index: 1000;     /* Ensures the header stays on top of other content */
    padding: 20px 20px; /* Padding around the header */
    display: flex;
    justify-content: flex-end; /* Ensures the nav links are aligned to the right */
    /* background-color: rgba(255, 255, 255, 0.5); Optional semi-transparent background */
    width: 100%;      /* Ensure the header spans the entire width of the page */
}

/* Navigation link styles */
.navbar a {
    position: relative;
    font-weight: 700;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;   /* Text color */
    padding: 6px 15px;
    margin: 0 10px;
    border-radius: 20px;
    /* transition: background-color 0.3s ease, color 0.3s ease; Smooth transition */
    cursor: pointer;
}

.navbar a.active::before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: black; /* Underline active link */
}

.navbar a:hover {
    background-color: black; /* Background color on hover */
    color: white;            /* Text color change on hover */
}

/* Ensuring no overlap with content */
body {
    padding-top: 0px; /* To ensure the content does not overlap with the header */
}
